body {
    background: #222;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
img {user-select: none;}
.bis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: auto;
}
.block_img_scroll {
    background: #333;
    width: 400px;
    height: 400px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
.hides {display: none;}
.block_img_scroll img {
    width: 400px;
    border-radius: 10px;
    height: 400px;
    position: absolute;
}
.block_img_scroll-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.685);
    width: 100%;
    padding: 1rem;
    border-radius: 0 0 9px 9px;
}
.block_img_scroll-info_title {
    font-size: 20px;
    user-select: none;
    font-weight: 700;
    margin-bottom: .25rem;
}
.block_img_scroll-info_subtitle {
    margin-bottom: .5rem;
    font-size: 14px;
    font-weight: 500;
}
.block_img_scroll-info_btn {
    color: #fff;
    text-decoration: none;
    transition: .3s;
    background: rgb(35, 72, 141);
    padding: .25rem 1rem;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: .5px;
}
.block_img_scroll-info_btn:hover {
    color: rgb(192, 192, 192);
    background: rgb(21, 43, 85);
}
.sButtons-next, .sButtons-previous {
    position: absolute;
    font-size: 20px;
    font-weight: 800;
    user-select: none;
    cursor: pointer;
    transition: .3s;
}
.sButtons-next {
    top: 10px;
    right: 20px;
    bottom: 0;
    margin: auto;
}
.sButtons-previous {
    top: 10px;
    left: 20px;
    bottom: 0;
    display: none;
}
.sButtons-previous.showpr {display: block;}
.sButtons-next:hover, .sButtons-previous:hover {color: rgb(192, 192, 192);}